@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
$fontFamH1: 'Bebas Neue', cursive;
$fontFamP: 'Poppins', sans-serif;
$fontCol1: white;
$colNav: #734B5E;
$boxShadow: 0 3px 5px 0 rgba(0,0,0,0.16);
$txtShadow: 3px 3px 10px rgba(0,0,0,.3) ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  background-color: $colNav;
  box-shadow: $boxShadow;
  padding: 1em 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  .navbar-brand {
    font-size: 1.5rem;
    font-family: $fontFamH1;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
  }
  .collapse {
    justify-content: end;
    .nav-item {
      transition: .5s ease;
      margin-left: 3em;
      text-transform: uppercase;
      &:hover {
        background-color: rosybrown;
        border-radius: 10px;
        color: white;
      }
    }
  }
}

#welcome-section {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #292E49, #536976);
  color: $fontCol1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 6rem;
    font-family: $fontFamH1;
    text-align: center;
    text-shadow: $txtShadow;
  }
  p {
    text-shadow: $txtShadow;
    font-size: 2rem;
    font-family: $fontFamP;
    text-align: center;
  }
}

#projects {
  height: 100%;
  background-color: #bcbdc0;
  padding-top: 8em;
  .project-tile {
    margin-bottom: 2em;
    img:hover {
      transition: .2s ease;
      box-shadow: $boxShadow;
      transform: scale(1.1, 1.1);
    }
  }
  h3 {
    color: #333;
    font-family: $fontFamH1;
    text-align: center;
    font-size: 3rem;
  }
  p {
    font-family: $fontFamP;
    background-color: #565857;
    color: $fontCol1;
    padding: .5em;
  }
}

#contact {
  height: 60vh;
  width: 100%;
  background-color: #565857;
  h1 {
    padding: 2em 0 .5em 0;
    font-family: $fontFamH1;
    color: $fontCol1;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 3px;
  }
  .row {
    .col-md-3 {
      font-size: 1.5rem;
      padding: .5em;
      a {
        text-decoration: none;
        color: $fontCol1;
      }
      &:hover {
        background-color: #8d4265;
        border-radius: 10px;
        box-shadow: $boxShadow;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  #nav {
    .navbar-brand {
      font-size: .2rem;
    }
  }

  #welcome-section {
    h1 {font-size: 4.2rem;}
    p {font-size: 1rem;}
  }

  #projects {
    h3 {font-size: 1.5rem;}
    p {box-shadow: 0 3px 10px rgba(0,0,0,0.5);}
    .project-tile {
      margin-bottom: 2em;
    }
  }

  #contact {
    h1 {font-size: 2.5rem;}
  }
}